* {
    margin: 0;
    padding: 0;
    font-family: "helvetica";
}

body {
    background:#8AD5F7;
}

.content {
    background: silver;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    " nav nav nav nav nav nav "
    " header header header header header header "
    " sub-menu sub-menu sub-menu sub-menu sub-menu sub-menu "
    " section section section section section section "
    " main main main main main main "
    " aside aside aside aside aside aside "
    ;
}

nav {
    grid-area: nav;
    background: #FC8325;
    text-align: center;
    color: white;
    border-radius: 6px;
}

nav ul {
    padding: 12px;
}

nav ul li {
    list-style: none;
    padding: 6px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    grid-area: header;
    text-align: center;
}

header h1 {
    color: #511695;
}

.sub-menu {
    grid-area: sub-menu;
    text-align: center;
}

.sub-menu ul li {
    list-style: none;
    display: inline;
}


main {
    grid-area: main;
}

main h3 {
    text-align: center;
}

main ul li {
    list-style: none;
    margin: 12px;
}

main ul li input {
    background: none;
    border: none;
    border-bottom: 1px solid #FC8325;
}

section {
    grid-area: section;
}

section ul li {
    display: inline;
    list-style: none;
}

aside {
    grid-area: aside;
}

input[class="wide"]{
    width: 60%;
}

textarea[class="wide"] {
    width: 100%;
    resize: none;
}

.grid-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
}

.grid-div div {
    background: #8AD5F7;
    border: 1px white solid;
}
.grid-div div:nth-child(even) {
    background: #1E8BDC;
}

.links ul li a {
    color: #511695;
}

.table.medium table {
    border-collapse: collapse;
}

.table.medium table thead tr th {
    border: 1px solid white;
    padding: 6px;
}

.table.medium table tbody tr td {
    border: 1px solid white;
    padding: 6px;
}

footer {
    text-align: center;
    background: #511695;
    color: white;
    padding: 12px;
}

.login {
    background-color: #8AD5F7;
}

.login ul {
    padding: 12px;
    text-align: center;
    border: 1px solid white;
}

.login ul li {
    margin: 6px;
    list-style: none;
}

.login ul li input {
    border: none;
    border-bottom: 2px solid black;
    background: white;
    padding: 12px;
    margin: 6px;
}

.notice.error {
    color: red;
    font-weight: bold;
}

.button.medium {
    padding: 6px 18px;
    border: 1px solid white;
    background: #511695;
    color: white;
}

.button.search {
    padding: 6px 12px;
    border: 1px solid white;
    background: #FC8325;
    color: white;
}

.button.link {
    padding: 6px 18px;
    background: #FC8325;
    border: 1px solid white;
}

input {
    padding: 6px;
}

.table_services table {
    margin: 6px auto;
    border-collapse: collapse;
}

.table_services table thead tr th {
    border: 1px solid silver;
    padding: 6px 12px;
}

.table_services table tbody tr td {
    border: 1px solid silver;
    padding: 6px 12px;
}

.error {
    color: red;
}

.invisible {
    display: none;
}

.highlight.red {
    background: red;
    color: white;
}


/******************************** Styles for modals ************************************/

.modal {
    display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #f4f4f4;
	margin: 6% auto;
	padding: 20px;
	width: 80%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.modal-header h3 {
    background: #FC8325;
    text-align: center;
    color: white;
}

#modalClose {
    font-size: 48px;
    float: right;
    color: #ccc;
}

#modalClose:hover , #modalClose:focus {
    color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-content button {
    display: block;
    margin: 6px;
    padding: 6px 12px;
    border: 0;
    background: none;
}

.modal-content button:hover, .modal-content button:focus {
    background: #FC8325;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



/*styles for tablets*/
@media screen and (min-width: 768px) {
    .grid-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
/*styles for computers*/
@media screen and (min-width: 992px) {
    .content {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        " nav header header header header header "
        " nav sub-menu sub-menu sub-menu sub-menu sub-menu "
        " nav section section section section section "
        " nav main main main main main "
        " nav aside aside aside aside aside "
        ;
    }

    #menu-items {
        display: block;
    }

    #menu-switch {
        display: none;
    }

    .grid-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
